.App {
  min-width: 912px;
  text-align: left;
  background-color: rgb(241,241,241);
}

.App-logo {
  display: flex;
  margin: 32px 16px 32px 32px;
  width: 32px;
  height: 32px;
  pointer-events: none;
}

.App-title {
  margin-top: 28px;
  font-size: 20pt;
  font-weight: 500;
}

.App-header {
  background-color:  rgb(173,181,189);
  height: 96px;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  margin: auto;
  width: 916px;
  min-height: 300px;
}

.App-link {
  color: #61dafb;
}


.Participants {
  width: 916px;
  align-items: center;
  justify-content: center;
}

.Item-title {
  margin-top: 48px;
  margin-bottom: 24px;
  color: rgb(117,117,117);
  font-size: 20pt;
  font-weight: 500;
}

.Table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid rgb(241,241,241);
}

.TrH {
  background-color: rgb(255,255,255);
  height: 48px;
  font-size: 24pt;
}

.Th {
  padding-left: 24px;
  border-bottom: 1px solid rgb(241,241,241);
  font-weight: 300;
}

.ThCell {
  height: 16px;
  vertical-align: middle;
  text-align: left;
  color: #757575;
  font-size: 14pt;
  font-weight: 500;
}

.TrD {
  background-color: rgb(255,255,255);
  height: 72px;
}

.TdD {
  padding-left: 24px;
  border-bottom: 1px solid rgb(241,241,241);
}

.TdA {
  font-size: 12pt;
  border-bottom: 1px solid rgb(241,241,241);
  align-content: flex-end;
  width: 230px
}

.TdCell {
  height: 24px;
  vertical-align: middle;
  text-align: left;
  color: #505050;
  font-size: 16pt;
  font-weight: 400;
}

.IACell {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin-left: auto;
}

.TdAEButton {
  margin-left: auto;
  margin-right: 24px;
  border: none;
  background-color: rgba(0,0,0,0);
  width: 24px;
  height: 24px;
}
.TdADButton {
  margin-right: 24px;
  border: none;
  background-color: rgba(0,0,0,0);
  width: 24px;
  height: 24px;
}

.TdAIcon {
  border: none;
  margin-left: auto;
  width: 24px;
  height: 24px;
  pointer-events: none;
}


.TrA {
  background-color: rgb(255,255,255);
  height: 72px;
}

.TdAA {
  padding-top: 16px;;
  padding-bottom: 16px;;
  padding-left: 16px;
  border-bottom: 16px solid rgb(241,241,241);
  white-space: nowrap;
  width: 232px;
}

.ACell {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin-left: auto;
  width: 230px;
}

.AButton {
  margin-right: 12px;
  margin-left: auto;
  height: 40px;
  width: 140px;
  border: 0px;
  font-size: 16pt;
  vertical-align: middle;
  color: rgb(117,117,117);
  background-color: rgb(237,237,237);
  text-align: center;
}

.AInput {
  font-size: 14pt;
  width: 90%;
  height: 36px;
  background-color: rgb(250,250,250);
  border: thin solid rgb(238,238,238);
  padding-left: 8px;
}

.TrE {
  background-color: rgb(255,255,255);
  height: 72px;
}

.TdE {
  padding-left: 16px;
  border-bottom: 1px solid rgb(241,241,241);
  white-space: nowrap;
}

.ECButton {
  margin-left: auto;
  margin-right: 6px;
  height: 40px;
  border: 0px;
  width: 90px;
  font-size: 16pt;
  text-align: center;
  vertical-align: middle;
  color: #07f;
  background-color: rgb(237,237,237);
}

.ESButton {
  margin-right: 12px;
  height: 40px;
  border: 0px;
  width: 70px;
  font-size: 16pt;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #07f;
}

.EInput {
  font-size: 14pt;
  width: 90%;
  height: 36px;
  background-color: rgb(250,250,250);
  border: thin solid rgb(238,238,238);
  padding-left: 6px;
}
